* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  color: white;
  background-color: black;
  padding: 15px;
}

.list {
  padding-left: 10px;
  border-bottom: 1px solid lightgray;
}

.list > h4, .list > p {
  margin : 5px;
}